* {
    padding: 0;
    margin: 0;
    font-family: tahoma;
}

body {
    background-color: #212227;
}

h1 {
    color: #fff;
    text-align: center;
    margin-top: 30px;
}

.container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.inner img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    background-color: #8793AB;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.inner img:hover {
    background-color: #939EB4;
}

.scoreCard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 80px;
}

.scoreInner {
    text-align: center;
    color: #fff;
    font-size: 1.3rem;
}

.msgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#msg {
    color: #fff;
    background-color: #8793AB;
    text-align: center;
    font-size: 1.5rem;
    width: fit-content;
    margin-top: 50px;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color .1s ease-in-out;
}

/* Media Queries */

@media (max-width: 950px) {
    .inner img {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 795px) {
    .inner img {
        width: 200px;
        height: 200px;
    }

}
@media (max-width: 665px) {
    .inner img {
        width: 150px;
        height: 150px;
    }

    h1 {
        font-size: 1.5rem;
    }

    #msg,
    .scoreInner {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .inner img {
        width: 120px;
        height: 120px;
    }

    h1 {
        font-size: 1rem;
    }

    #msg,
    .scoreCard,
    .container {
        margin-top: 30px;
    }
}

@media (max-width: 410px) {
    .inner img {
        width: 100px;
        height: 100px;
    }

    h1 {
        font-size: 1rem;
    }
}

@media (max-width: 340px) {
    .inner img {
        width: 80px;
        height: 80px;
    }

    h1 {
        font-size: 1rem;
    }
}
